
  

.container-fluid {
  padding: none;
  display: flex;

  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: #696773;
}

.entryForm {
  display: flex;

  border: 2px solid black;
  background-color: #009fb7;
}

.colform {
  -webkit-box-shadow: -1px 17px 51px 0px rgba(242, 245, 247, 1);
  -moz-box-shadow: -1px 17px 51px 0px rgba(242, 245, 247, 1);
  box-shadow: -1px 17px 51px 0px rgba(242, 245, 247, 1);

  color: #272727;
}
